<!DOCTYPE html>
<html lang="en" th:xmlns="hhtp://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <!-- th:insert="fragment/layout :: header" -->
    <h1> Lista de Clientes</h1>

    <div class="container">
        <a href="form.html" th:href="@{/clientes/novo}">Novo Cliente</a>
        <div class="alert alert-success" th:if="${globalMessage}" th:text="${globalMessage}">Message</div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${clientes.empty}">
                    <td colspan="3">Sem clientes</td>
                </tr>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.id}">1</td>
                    <td>
                        <a href="view.html" th:href="@{'/clientes/'+${cliente.id}}" th:text="${cliente.nome}">nome</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>